		*{margin: 0;padding: 0;}
		body{background: rgba(40,38,64,1); height: 100%;}
		/*body{background: url(../images/bg003.jpg) no-repeat; height: 100%;}*/
		.logo{text-align: center;margin:10% auto 5%;}
		.logo img{width: 180px; height: 180px;}
		.mui-input-group,.mui-input-group:before,.mui-input-group:after{background-color: rgba(255,255,255,0);}
		.mui-input-row label{padding: 9px 15px;width: 20%;}
		.mui-input-row label~input{width: 80%;}
		.login{width: 80%; margin: 0 auto; border: none;}
		.login form{color: white;}
		.login form .mui-input-row .mui-input-password{background: rgba(40,38,64,0);}
		.login-in{padding-left: 5%; padding-top:8% ;}
		.login-in p{width: 90%; margin: 0 auto; background: rgba(209,73,87,0); border: none;}
		.login-in p button{width: 100%; background: #e0560b; border: none;}
		.login-in p button:active{background: rgba(164,61,83,1);}
		.footer{/*position: fixed;*/  bottom: 0px; width: 100%; padding-bottom: 10%;}
		.footer .forgetpsw{padding-bottom: 8%;text-align: center; padding-top: 30%;}
		.footer .forgetpsw p{width: 50%; margin: 0 auto;}
		.footer .forgetpsw p a:hover{color: white; text-decoration:underline;}