body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
	margin:0;
	padding:0;
}
body,button,input,select,textarea{
	font:12px/1.5 tahoma,arial,\5b8b\4f53;
	font-weight:400;
}
ul,ol{
	list-style:none;
}

button,input,select,textarea{
	font-size:100%;
}
#title-search{
	height: 50px;
	width: 800px;
	background-color: black;
	margin: 0 auto;
	margin-top:20px ;
}


.searchInfo{
	width: 530px;
	height:50px;
	line-height: 50px;
	margin: 0 auto; 
	background-color: rgb(0,0,0); 
	border: medium scroll rgb(255,255,255);
}

#Option{
	width: 19%;
	float: left;
	height: 40px;
	line-height: 40px;
	background-color: #000;
	margin-top: 5px;

}
.select{
	font-family:黑体;
	font-size: 160%;
	color:#fff;
	padding: 10px,5px,5px,10px;
	line-height: 40px;
	/*display: ;*/
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
#inputInfo{
	width: 65%;
	float: left;
	height: 40px;	
	line-height: 40px;
	margin-top: 5px;
	background-color: #000;
	border-radius: 1px;	
	border: 1px solid #cccccc;
	border-radius: 4px;
	line-height: 40px;
	font-family:黑体;
	font-size: 160%;
	color:rgb(255,255,255);
	padding: 10px,5px,5px,10px;
}

.submit{
	width: 15%;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
	height: 40px;
	margin-top: 5px;
	color: white;
	font-size: 120%;
	background-color: black;
	/*background-image:url(../images/search.png);*/
	background-repeat: no-repeat;
	background-size: 100%,100%; /*让背景图片自适应div的尺寸*/
}

.searchMap{
	/*background-color: green;*/
	width: 800px;
	height: 500px;
	margin: 0 auto;
	border-color: blue; 
	
}

